% if node.metadata.get('openssh', {}).get('listen_ipv4', True):
ListenAddress ${node.metadata["interfaces"][node.metadata["main_interface"]]["ip_address"]}:22
% endif
% if node.metadata.get('openssh', {}).get('listen_ipv6', False):
ListenAddress [${node.metadata["interfaces"][node.metadata["main_interface"]]["ipv6_address"]}]:22
% endif

Protocol 2

# HostKeys for protocol version 2
HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
KexAlgorithms curve25519-sha256@libssh.org
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com

# Logging
SyslogFacility AUTHPRIV
LogLevel VERBOSE

# Authentication
LoginGraceTime 1m
PermitRootLogin no
StrictModes yes
MaxAuthTries 2

PubkeyAuthentication yes
AuthorizedKeysFile	.ssh/authorized_keys
PasswordAuthentication no
ChallengeResponseAuthentication no
GSSAPIAuthentication no
UsePAM yes

# Client Alive settings
ClientAliveInterval 30
ClientAliveCountMax 2

AllowTcpForwarding no
X11Forwarding no
PrintMotd no
Banner /etc/ssh/sshd_banner
UsePrivilegeSeparation sandbox
UseDNS no
Compression no

# Accept locale-related environment variables
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS

# override default of no subsystems
Subsystem	sftp	/usr/libexec/openssh/sftp-server
